{% load curl_data_to_json_data %}

<h1>NewsFeedAPI Documentation</h1>
<br>
<p>Having trouble using this API ? No problem. Find out how by reading this documentation.</p>

{% for doc in docs %}
    <hr> 
    <h4>
        <strong><u>{{ doc.title }} :</u></strong>
        <span class="badge {% if doc.method == 'GET' %}
            badge-success
        {% elif doc.method == 'POST' %}
            badge-warning
        {% elif doc.method == 'PUT' %}
            badge-primary
        {% else %}
            badge-danger
        {% endif %}">{{ doc.method }}</span>
        <span class="badge badge-light">{{ doc.endpoint }}</span>
    </h4>
    {{ doc.description }}
    <br><br>

    <div class="row">
        <div class="col-sm-6">
            <strong>Example</strong> <br>
            <h5><span class="badge badge-secondary">{{ doc.method }} {{ host }}{{ doc.example }}</span></h5>
            
            {% if doc.curl_data %}
                JSON to send
                <strong>
                    <pre><code class="json" style="border-radius: 10px;">{ {{ doc.curl_data | curl_data_to_json_data }} }</code></pre>
                </strong>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <strong>CURL Example</strong> <br>
            <strong>
                <pre><code class="bash" style="border-radius: 10px;">CURL -X {{ doc.method }} \{% if doc.curl_data %}
--header "Content-Type: application/json" \
--data "{ {{ doc.curl_data }} }" \
{% endif %}
"{{ host }}{{ doc.example }}"</code></pre>
            </strong>
        </div>
    </div>

    {% if doc.response %}
        <strong>Response</strong> <br>
        <strong>
            <pre><code class="json" style="border-radius: 10px;">{{ doc.response }}</code></pre>
        </strong>
    {% endif %}
{% endfor %}


<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
