
<div class="row">
    <div class="col-2">
        <img class="img-fluid" alt="illustrating image" src="{{ article.image_link }}">
    </div>
    <div class="col-10">
        <h2>{{ article.title }}</h2>
        <h4>{{ article.description }}</h4>

        <p class="font-italic">published in {{ article.source }}, and written by {{ article.author }}</p>
    </div>
</div>

<hr/>

<div>
    <p>{{ article.content }}</p>
</div>