
<h1>Forms</h1>

<hr/>

<form action="{% url 'mainsite:results' %}" method="post">
    {% csrf_token %}

    <!-- options for title -->
    <div class="form-group">
        <label for="input_title">Article's title</label>
        <input type="text" name="input_title" id="input_title" class="form-control" placeholder="Enter title">
    </div>

    <!-- Select options for author -->
    <div class="form-group">
        <label for="select_author">Select Author</label>
        <select name="select_author" id="select_author" class="form-control">
            <option class="default" value="default">-- no author selected --</option>
            {% for author in objects.authors %}
                <option value="{{ author.id }}"> {{ author }} </option>
            {% endfor %}
        </select>
    </div>

    <!-- Select options for source -->
    <div class="form-group">
        <label for="select_source">Select Source</label>
        <select name="select_source" id="select_source" class="form-control">
            <option class="default" value="default">-- no source selected --</option>
            {% for source in objects.sources %}
                <option value="{{ source.id }}"> {{ source }} </option>
            {% endfor %}
        </select>
    </div>

    <!-- Select options for publication date -->
    <div class="form-row">
        <div class="form-group col">
            <label for="select_day_publication">Day</label>
            <select name="select_day_publication" class="form-control">
                <option class="default" value="default">-- no day selected --</option>
                {% for day in objects.date.day %}
                    <option> {{ day }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col">
            <label for="select_month_publication">Month</label>
            <select name="select_month_publication" class="form-control">
                <option class="default" value="default">-- no month selected --</option>
                {% for month in objects.date.month %}
                    <option> {{ month }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col">
            <label for="select_year_publication">Year</label>
            <select name="select_year_publication" class="form-control">
                <option class="default" value="default">-- no year selected --</option>
                {% for year in objects.date.year %}
                    <option> {{ year }} </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
</form>