Nos articles
<hr>
{% for article in list %}
    <div class="card border-dark mt-1">
        <div class="card-body row">
            <div class="col-2">
                <img class="img-fluid" alt="illustrating image" src="{{ article.image_link }}">
            </div>
            <div class=" col-10">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description }}</p>
                <a href="{% url 'mainsite:article' article.id %}" class="stretched-link">Voir l'article</a>
            </div>
        </div>
    </div>
{% endfor %}
<br>
Plus d'Articles
<hr>
{% for ext_article in ext_articles %}
    <div class="card border-dark mt-1">
        <div class="card-body row">
            <div class="col-2">
                <img class="img-fluid" alt="illustrating image" src="{{ ext_article.primary_image_link }}">
            </div>
            <div class=" col-10">
                <h5 class="card-title">{{ ext_article.title }}</h5>
                <p class="card-text">{{ ext_article.snippet }}</p>
                <a href="{{ ext_article.link }}" class="stretched-link" target="_blank">Voir l'article</a>
            </div>
        </div>
    </div>
{% endfor %}