<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mainsite/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainsite/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'mainsite/fontawesome.all.min.css' %}">

        <title>{{ title_page }}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'mainsite:index' %}">NewsFeed</a>

        <form action="{% url 'mainsite:search_title' %}" class="form-inline" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="title" id="title" type="search" placeholder="Search in titles" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
            <a class="btn btn-danger ml-1" href="{% url 'mainsite:search' %}" role="button">Advanced search</a>
        </form>
    </nav>

    <div class="container p-3 p-md-5">

        {% if page %}
            {% include page %}
        {% endif %}

    </div>
  </body>
</html>